.contact-content
{
   display: grid;
   grid-template-columns: 1fr 2fr;
   font-size: 1.4em;

   .fa
   {
      color: $orange;
   }
}

@media (max-width: $middle-screen)
{
   .contact-content
   {
      grid-template-columns: 1fr;
      text-align: center;
   }
}
