*
{
   @include reset-padding-margin();
   box-sizing: border-box;
}

html
{
   @include reset-padding-margin();
   font-size: 62.5%;
}

body
{
   font-family: $basic-font;
   background-color: #f6f6f6;
   color: $gray;
   line-height: 1.61;
}

h1
{
   font-size: 1.9em;
   color: $gray;
}

.container
{
   width: 85%;
   margin: 0 auto;
}

a
{
   color: $white;
   text-decoration: none;
   
   &:link, &:visited
   {
      color: $white;
   }
}

.btn
{
   cursor: pointer;
   font-size: 1.4em;
   background: linear-gradient(to left bottom, #ffb60d, #ffa91a, #ff9c25, #ff8f2e, #ff8237);
   border: none;
   padding: 2em;
   @include border-radius(2.8em);

   &:hover
   {
      background-image: linear-gradient(to left bottom, #ffa91a, #ffb60d, #ff9c25, #ff8f2e, #ff8237);
   }
}

section
{
   margin-top: 6em;
}

.title-section
{
   @include reset-padding-margin();
   font-family: "Fira Sans";
   font-size: 2em;
   text-align: center;
   text-transform: uppercase;
   color: $orange;
}

.description-section
{
   font-family: "Fira Sans";
   text-align: center;
   font-size: 1.35em;
   text-transform: uppercase;
   margin-bottom: 4em;
}
