@mixin reset-padding-margin()
{
   padding: 0;
   margin: 0;
}

@mixin reset-ul()
{
   list-style-type: none;
}

@mixin border-radius($radius)
{
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   border-radius: $radius;
}

@mixin orange-gradient()
{
   background: linear-gradient(to left bottom, #ffb60d, #ffa91a, #ff9c25, #ff8f2e, #ff8237);
}